<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sped Reajustes - Duplicados</title>
</head>
<body style="border: 0; padding: 0; margin: 0; box-sizing: border-box;animation: entrada 1s;">
    <main>
        <section style="height: 100vh; display: flex; justify-content: center; align-items: center;">
            <div style="flex-basis: 50%;">
                <form style="display: flex; justify-content: space-around;align-items: center;" action="failure.html">
                    <input id="selecionarArquivo" type="file" hidden>
                    <label for="selecionarArquivo" style="cursor: pointer;display: flex;align-items: center; background-color: #00e48b;padding: 12px 30px;font-weight: 500;color: #fff;font-size: 20px;border-radius: 10px;">Importar<img src="./assests/img/import.png" alt="" style="width: 30px;margin-left: 10px;"></label>
                    <input type="submit" style="cursor: pointer;display: flex;align-items: center; background-color: #00e48b;padding: 16px 40px;font-weight: 500;color: #fff;font-size: 20px;border: 0;border-radius: 10px;"></input>
                </form>
            </div>
        </section>
    </main>
</body>
<style>
    @keyframes entrada {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
</style>
</html>