<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sped Reajustes</title>
    <script>
        let teste = "<%=userName%>"
        console.log(teste)
    </script>
</head>
<body style="border: 0; padding: 0; margin: 0; box-sizing: border-box;">
    <main>
        <section style="height: 100vh; display: flex; justify-content: center; align-items: center;">
            <div style="flex-basis: 50%;">
                <div style="display: flex; justify-content: space-around;align-items: center;">
                    <a href="./duplicados.html" style="background-color: #00e48b;text-decoration: none;color: #fff; font-size: 20px; padding: 15px 40px;border-radius: 10px;">Duplicados</a>
                </div>
            </div>
        </section>
    </main>
</body>
<style>
    @keyframes entrada {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
</style>
</html>